.bg1
{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
*,*::before,*::after
{
    padding: 0;
    
    margin: 0;
    box-sizing: border-box;
}



.grid-container1{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}
.grid-container1 > div
{
    color: ghostwhite;
    font-size: 33px;
}
.grid-item1
{
    margin-left: 200px;
}
.grid-item2
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: end;
    column-gap: 20px;
}
.grid-item2 > div
{
    font-size: 20px;
    color: ghostwhite;
}
.grid-item2 > div  >a
{
position: relative;
color: ghostwhite;
text-decoration: none;
}

.grid-item2 > div > a::after
{
    content:"";
    position: absolute;
    background-color: rgb(231, 30, 63);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.grid-item2 > div > a:hover::after
{
    width: 100%;
}


.grid-5
{
    margin-right: 100px;
}
.heading1
{
color: ghostwhite;
margin-left: 200px;
margin-top: 300px;
}
.head1{
    font-style: 25px;
    margin-bottom: 0px;
}
.head2
{
    margin-top: 10px;
    font-size: 40px;
}
.dfbd{
    background-color: rgb(20, 20, 20);
    margin-top: 400px;
}
.grid-container2
{
    display: grid;
    grid-template-columns: auto auto;
    color: ghostwhite;
    column-gap: 20px;
    padding-top: 100px;
}
.grid-item6 >img
{
margin-left: 200px;
}

.s1
{
margin-top: 0px;
}
.grid-item7
{
    margin-right: 150px;
}

.myservices{
    margin-left: 200px;
    margin-top: 100px;
    color: ghostwhite;
}
.myservices > p
{
    font-size: 40px;
    font-weight: bold;

}
.grid-services
{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap:10px;
}
.items3
{
    margin-right: 100px;
}
.card1,
.card2,
.card3
{
    background-color: rgb(58, 57, 57);
    width: 350px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.5s,transform 0.5s;
    overflow:hidden;
}

.card1 >p
{
    font-size: 14px;
}
.card1>a
{
    text-decoration: none;
    color: ghostwhite;
    font-size: 12px;

}
/* Hover stays same */
.card1:hover,
.card2:hover,
.card3:hover {
  background-color: rgb(240, 10, 87);
  transform: translateY(-10px);
}
.port{
margin-top: 100px;
margin-left: 200px;
}
.port > p{
    font-size: 40px;
    font-weight: bold;
    color: ghostwhite;
}
.port-grid
{
display: grid;
grid-template-columns: auto auto auto;
margin-top: 50px;
column-gap: 40px;
}
.grid-item8 > div >img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.grid-item9 > div >img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.grid-item10 > div >img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-right: 200px;
}
.more
{
text-align: center;
margin-top: 100px;
border: 1px solid rgb(231, 30, 63);
margin-left: 300px;
margin-right: 300px;
padding: 10px;
}
.more > a{
    text-decoration: none;
    color: ghostwhite;

}
.contact
{
    margin-left: 200px;
    margin-top: 200px;
}
.grid-contact{
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item11
{
    color: ghostwhite;
}
.C1{
    font-size: 44px;
    margin-top: 30px;

}
.C2{
    font-size: 22PX;
    margin-top: 30PX;
}
.C3{
    font-size: 22PX;
    margin-top: 50PX;
}
.grid-item11>button{
    background-color: rgb(240, 10, 87);
    padding: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 100px;
}
.grid-item11 > button > a{
color: white;
text-decoration: none;
}
.grid-item12 > form > div
{
    margin-top: 28px;
}
input
{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(58, 57, 57);
    color: ghostwhite;
    border: none;
    padding-left: 20px;
}
::placeholder
{
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
textarea
{
    border-radius: 10px;
    background-color: rgb(58, 57, 57);
    border: none;
    padding-left: 20px;
    color: ghostwhite;
}
.grid-item12 > form > div >button{
background-color:  rgb(231, 30, 63);
    padding: 15px;
    border-radius: 10px;
    color: white;
    border: none;
    width: 200px;
    margin-bottom: 100px;
}
.copyright
{
    background-color: rgb(58, 57, 57);
    text-align: center;
    color: ghostwhite;
    padding-top: 20px;
    height: 50px;
    margin-top: 100px;
}

/* ===================================================== */
/* ============ ADDED STYLES (NO CONFLICT) ============== */
/* ===================================================== */

/* Grey background for tab content */
.tab-box {
  background-color: #1f1f1f;
  color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  margin-top: 12px;
}

/* Active tab content highlight */
.tab-pane.active .tab-box {
  background-color: #2a2a2a;
}

/* Tabs hover & active styles */
.nav-pills .nav-link {
  color: #aaa;
  transition: all 0.3s ease;
}

.nav-pills .nav-link:hover {
  color: #d4af37;
  background-color: #1f1f1f;
}

.nav-pills .nav-link.active {
  color: #d4af37;
  background-color: #1f1f1f;
}

/* Cards section (separate from .card1) */
.cards {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.card {
  width: 300px;
  background: #161616;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
}

/* Prevent overflow */
.desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 12px;
}

/* Learn more link */
.learn-more {
  color: #d4af37;
  text-decoration: none;
  font-weight: 500;
}

.learn-more:hover {
  text-decoration: underline;
}
